<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>forum</title>
</head>
<body>
    <div id="content"></div>
      <h1 style="font-size:300%">Jake's Place</h1>
    <p style="font-size:160%">Hey everyone,</p>
    <p style="font-size:160%">Let's hangout and talk!</p>
     <p style="font-size:160%"> Feel free to add topics to my forum.</p>
  <form action="/topic/info" method="POST">
    <p style="font-size:160%"> <label>
      TOPIC:
      <input type="text" size="70" name="title" />
    </label> </p>
    <p> <label>
      BODY:
      <input type="text" size="100" name="description" />
    </label>
       <label> </p>

    <button>ADD</button>
  </form>
</body>
</html>